<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body bgcolor="lightblue" text="black">
    <h2>Register</h2>
    <form action="/register" method="POST">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="mobile no">mobile no:</label>
        <input type="tel" id="mobile" name="mobile" pattern="[0-9]{10}" required placeholder="Enter 10-digit mobile number"><br></br>

        <button type="submit">Register</button>
    </form>
</body>
</html>
